#contextMenu {
  -webkit-animation-duration: 250ms;
  animation-duration: 250ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

  min-width: 300px;
  display: none;
  background-color: var(--sidebar);
  border: 1px solid #000000;
  padding: 4px 0;
  filter: drop-shadow(1px 1px 10px rgba(#000000, 0.1));
  position: absolute;
  z-index: 10;
  overflow: hidden;
  li {
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;

    cursor: pointer;
    list-style-type: none;
    padding: 4px 24px;
    .key {
      float: right;
      opacity: 0.5;
    }
  }
  li:hover {
    background-color: var(--hover);
  }
}

#contextMenu.class.field,
#contextMenu.class.method,
#contextMenu.class.relation {
  .newClass {
    display: none;
  }
}
#contextMenu:not(.field) > .newField {
  display: none;
}
#contextMenu:not(.method) > .newMethod {
  display: none;
}
#contextMenu:not(.relation) {
  > .newRelation {
    display: none;
  }
  > .swapRelation {
    display: none;
  }
}
#contextMenu:not(.deletemember) > .swapRelation {
  display: none;
}
#contextMenu.deleteclass > .delete:after {
  content: " Class";
}
#contextMenu.deletemember > .delete:after {
  content: " Member";
}
#contextMenu:not(.deletemember):not(.deleteclass) > .delete {
  display: none;
}
