#editDialog {
  display: none;
  z-index: 11;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000080;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  .window {
    background-color: var(--sidebar);
    border: 1px solid var(--border-color);
    border-radius: 0.3em;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 565px;
    .titleBar {
      text-align: center;
      padding: 4px;
      background: -moz-linear-gradient(
        0deg,
        rgb(55, 55, 57) 0%,
        rgb(68, 66, 67) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgb(55, 55, 57) 0%,
        rgb(68, 66, 67) 100%
      );
      background: linear-gradient(
        0deg,
        rgb(55, 55, 57) 0%,
        rgb(68, 66, 67) 100%
      );
    }
    .content {
      padding: 8px;
      width: 100%;
      td > * {
        width: 100%;
      }
      #edit_param_list {
        > li {
          border: 1px solid var(--border-color);
          select,
          input {
            border: none !important;
          }
        }
      }
    }
    .buttons {
      border-top: 1px solid var(--border-color);
      button {
        margin: 8px;
      }
    }
  }
}
