@font-face {
  font-family: "JetBrains Mono";
  src: url("font/JetBrainsMono.eot");
  src: url("font/JetBrainsMono.eot?#iefix") format("embedded-opentype"),
    url("font/JetBrainsMono.woff2") format("woff2"),
    url("font/JetBrainsMono.woff") format("woff"),
    url("font/JetBrainsMono.ttf") format("truetype");
  font-display: swap;
}
