* {
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "JetBrains Mono", monospace !important;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--foreground);
}

li {
  list-style-type: none !important;
}

html,
body {
  background-color: var(--main);
  overflow: hidden;
  max-width: 100vw;
}

:root {
  --font-size: calc(16px * var(--zoom-ui));
  --line-height: calc(18px * var(--zoom-ui));
  --zoom-ui: 1;
  --zoom: 1;
  --main: rgb(49, 51, 53);
  --sidebar: rgb(61, 63, 65);
  --split-line: rgb(20, 20, 20);
  // --accent: rgb(28, 80, 157);
  --accent: var(--orange);
  --foreground: #e0e2e4;
  --foreground-focus: whitesmoke;
  --sidebar-width: 350px;
  --topbar-height: calc(42px * var(--zoom-ui));
  --statusbar-height: calc(26px * var(--zoom-ui));
  --orange: #ec7600;
  --yellow: #ffcd22;
  --green: #6a8759;
  --purple: #5d6182;
  --red: rgb(164, 111, 121);
  --gray: #7d8c93;
  --blue: #678cb1;
  --hover: rgb(18, 38, 58);
  --border-color: #ffffff30;
}

*:not([type="text"]) {
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

// Controls

input[type="text"] {
  border: none;
  outline: none;
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid var(--border-color) !important;
  color: var(--foreground) !important;
}
input[type="text"]:focus {
  color: var(--foreground-focus) !important;
  border-color: var(--foreground-focus) !important;
}

button {
  border: none;
  outline: none;
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  float: right;
  margin-left: 8px;
}
button:not([disabled]) {
  cursor: pointer;
}
button:not(.focus):not([disabled]) {
  background: rgb(77, 80, 82);
  background: -moz-linear-gradient(
    0deg,
    rgb(75, 78, 81) 0%,
    rgb(76, 79, 81) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgb(75, 78, 81) 0%,
    rgb(76, 79, 81) 100%
  );
  background: linear-gradient(0deg, rgb(75, 78, 81) 0%, rgb(76, 79, 81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4e51",endColorstr="#4c4f51",GradientType=1);
}
button.focus:not([disabled]) {
  background: rgb(61, 88, 125);
  background: -moz-linear-gradient(
    0deg,
    rgb(58, 85, 124) 0%,
    rgb(60, 87, 124) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgb(58, 85, 124) 0%,
    rgb(60, 87, 124) 100%
  );
  background: linear-gradient(0deg, rgb(58, 85, 124) 0%, rgb(60, 87, 124) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a557c",endColorstr="#3c577c",GradientType=1);
}
button[disabled] {
  cursor: default;
  background: transparent !important;
  opacity: 0.9;
}
button:hover:not([disabled]),
select:hover {
  -webkit-box-shadow: inset 0px -8px 8px 2px #00000020;
  box-shadow: inset 0px -8px 8px 2px #00000020;
}

.ask {
  background: rgb(77, 80, 82);
  background: -moz-linear-gradient(
    0deg,
    rgb(75, 78, 81) 0%,
    rgb(76, 79, 81) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgb(75, 78, 81) 0%,
    rgb(76, 79, 81) 100%
  );
  background: linear-gradient(0deg, rgb(75, 78, 81) 0%, rgb(76, 79, 81) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4e51",endColorstr="#4c4f51",GradientType=1);

  font-weight: bold;
  color: var(--blue);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: calc(24px * var(--zoom-ui));
  height: calc(24px * var(--zoom-ui));
  text-align: center;
  vertical-align: middle;
  padding: 4px 2px 0 2px;
  margin: 8px;
  display: inline-block;
  cursor: help;
}

select {
  outline: none;
  border: none;
  line-height: calc(28px * var(--zoom-ui));
  background-color: var(--sidebar);
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  cursor: pointer;
  optgroup,
  option {
    background-color: var(--sidebar);
  }
  option:hover {
    cursor: pointer;
    background-color: var(--hover);
  }
}
