::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 6px;
  background-image: initial;
  background-color: #0000004f;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #323437;
}
