#sidebar {
  background-color: var(--sidebar);
  height: calc(100% - var(--topbar-height));
  background-color: var(--sidebar);
  position: fixed;
  top: var(--topbar-height);
  right: calc(100% - var(--sidebar-width));
  bottom: 0;
  left: 0;
  border-right: 1px solid var(--split-line);
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--sidebar-width);
  #sidebar_classname_li,
  #sidebar_classifer_li {
    margin: 8px;
    white-space: nowrap;
  }
  li > ul > li {
    white-space: nowrap;
  }
  li:not(#sidebar_classname_li) > ul {
    > li {
      cursor: pointer;
      line-height: var(--line-height);
      padding: 4px 8px;
      vertical-align: middle;
      img {
        height: var(--line-height);
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(60deg)
          brightness(2.07) saturate(0.5);
      }
    }
    > li:not(.head) {
      padding-left: 40px;
    }
    > li:hover {
      background-color: var(--hover);
    }
  }
  ul > li.head:before {
    content: "+ ";
  }
  ul.folderClosed {
    li.head:before {
      content: "- ";
    }
    > li:not(.head) {
      display: none;
      * {
        display: none;
      }
    }
  }
  #sidebar_fields > li:not(.head):before {
    content: "F";
    background: var(--red);
  }
  #sidebar_methods > li:not(.head):before {
    content: "M";
    background: var(--green);
  }
  #sidebar_relations > li:not(.head):before {
    content: "R";
    background: var(--purple);
  }
  #sidebar_fields,
  #sidebar_methods,
  #sidebar_relations {
    > li:not(.head):before {
      color: rgba(black, 0.5);
      font-weight: 900;
      padding: 0 calc(5px * var(--zoom-ui));
      margin-right: 8px;
      border-radius: 50%;
    }
  }
}

#sidebarResize {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(var(--sidebar-width) - 5px);
  width: 10px;
  z-index: 6;
  cursor: ew-resize;
  background-color: transparent;
}
