#sidebar {
  background-color: var(--sidebar);
  height: calc(100% - var(--topbar-height));
  background-color: var(--sidebar);
  position: fixed;
  top: var(--topbar-height);
  right: calc(100% - var(--sidebar-width));
  bottom: 0;
  left: 0;
  border-right: 1px solid rgb(20, 20, 20);
  overflow-x: hidden;
  overflow-y: auto;
  width: var(--sidebar-width);
  #sidebar_classname_li,
  #sidebar_classifer_li {
    margin: 8px;
    white-space: nowrap;
  }
  li > ul > li {
    white-space: nowrap;
  }
  li:not(#sidebar_classname_li) > ul {
    > li {
      cursor: pointer;
      line-height: 18px;
      padding: 4px 8px;
      vertical-align: middle;
      img {
        height: 18px;
        filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(60deg)
          brightness(2.07) saturate(0.5);
      }
    }
    > li:not(.head) {
      padding-left: 40px;
    }
    > li:hover {
      background-color: var(--hover);
    }
  }
  ul > li.head:before {
    content: "+ ";
  }
  ul.folderClosed {
    li.head:before {
      content: "- ";
    }
    > li:not(.head) {
      display: none;
      * {
        display: none;
      }
    }
  }
}
