#statusBar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 8;
  height: var(--statusbar-height);
  background-color: var(--sidebar);
  border-top: 1px solid var(--split-line);
  padding: 0 16px;
  a {
    text-decoration: none !important;
  }
  > span:hover,
  > a:hover {
    background-color: var(--border-color);
  }
  > span,
  > a {
    padding: 2px 4px;
    height: var(--statusbar-height);
    display: inline;
    * {
      display: inline;
    }
    img {
      padding-top: 3px;
      height: calc(var(--statusbar-height) - 8px);
    }
    span {
      text-anchor: middle;
      height: calc(var(--statusbar-height) - 8px);
      line-height: calc(var(--statusbar-height) - 8px);
      font-size: calc(var(--statusbar-height) - 8px);
      color: white;
    }
  }
}
