#topBar {
  --topbar-content-height: calc(var(--topbar-height) - 8px);
  position: fixed;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  height: var(--topbar-height);
  overflow: hidden;
  padding: 4px;
  border-bottom: 1px solid var(--split-line);
  background-color: var(--sidebar);
  z-index: 8;
  -webkit-box-shadow: inset 0px -11px 25px 0px rgba(0, 0, 0, 0.0625);
  box-shadow: inset 0px -11px 25px 0px rgba(0, 0, 0, 0.0625);
  > *,
  > * > * {
    display: inline;
  }
  input,
  button,
  select {
    height: calc(var(--topbar-content-height) - 8px);
    margin-top: 4px;
    margin-bottom: 4px;
  }
  #rename_cm:not(:hover) {
    > input {
      display: none;
    }
  }
  input:focus {
    display: unset !important;
  }
  #export_cm,
  #zoomIn,
  #zoomOut {
    filter: contrast(0.75);
  }
  #rename_cm {
    max-height: var(--topbar-content-height);
    img {
      max-height: var(--topbar-content-height);
      padding: 4px;
      filter: contrast(0.75);
    }
    input {
      transform: translateY(-16px);
    }
    * {
      padding: 0;
      margin: 0;
    }
  }
  #selectBuild,
  #build {
    float: right;
    margin: 2px;
  }
  #selectBuild {
    margin-top: 4px;
  }
  > * {
    cursor: pointer;
  }
  img:hover {
    background-color: var(--border-color);
  }
  img {
    max-height: var(--topbar-content-height);
    max-width: var(--topbar-content-height);
    padding: 4px;
  }
  img#save_cm {
    filter: contrast(0.75);
    opacity: 0.75;
  }
  img#load_cm {
    filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(60deg)
      brightness(2.07) saturate(0.5);
  }
}
